
.site{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: auto;
}

.container{
  border: 2px solid black;
  width: 60px;
  height: 60px;
  text-align: center;
  background-color: orange;
  font-family: monospace;
  font-size: 20px;
  }

  .containerWithout{
    border: 2px solid white;
    width: 60px;
    height: 60px; 
}

  .Group {
    display: grid;
    align-items: center;
}

h1{
  text-align: center;
  font-family: monospace;
  font-size: 50px;
}